@page
@model WEB_253503_Gudoryan.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="Image" style="width: 150px; height: 100px;" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">
                    <i class="fa-regular fa-pen-to-square"></i> Edit
                </a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">
                     <i class="fa-solid fa-info"></i> Details
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fa-solid fa-trash"></i> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
