@page
@model WEB_253503_Gudoryan.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Items[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Items[0].Price)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="Image" style="width: 150px; height: 100px;" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">
                    <i class="fa-regular fa-pen-to-square"></i> Edit
                </a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">
                     <i class="fa-solid fa-info"></i> Details
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fa-solid fa-trash"></i> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    int cur = Model.Game.CurrentPage;
    int prev = Model.Game.CurrentPage == 1 ? 1 : Model.Game.CurrentPage - 1;
    int next = Model.Game.CurrentPage == Model.Game.TotalPages ? Model.Game.TotalPages : Model.Game.CurrentPage + 1;
    int one = cur - 1, two = cur, three = cur + 1;
    if (prev == cur)
    {
        one = 1;
        two = 2;
        three = 3;
    }
    if (next == cur)
    {
        three = cur;
        two = cur - 1;
        one = cur - 2;
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-route-pageNo="@prev">Previous</a></li>
        @if (one > 0)
        {
            <li class="page-item @(cur == one ? "active" : "")"><a class="page-link" asp-route-pageNo="@one">@one</a></li>
        }
        @if (two > 0 && two <= Model.Game.TotalPages)
        {
            <li class="page-item @(cur == two ? "active" : "")"><a class="page-link" asp-route-pageNo="@two">@two</a></li>
        }
        @if (three <= Model.Game.TotalPages)
        {
            <li class="page-item @(cur == three ? "active" : "")"><a class="page-link" asp-route-pageNo="@three">@three</a></li>
        }
        <li class="page-item"><a class="page-link" asp-route-pageNo="@next">Next</a></li>
    </ul>
</nav>